
/******************************* Global *******************************/
html, body, #root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #f5f5f5;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  width: 20%;
  height: 80%;
  border-radius: 7%;
}



/******************************* Icons Top *******************************/

  /* wrapper */

    .icon-wrapper{
      display: flex;
      justify-content: center; /* Delete ?*/
      align-items: center;
      width: 80%;
      font-size: 0.8rem;
    }


  /* left */

    .icon-left-wrapper{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 50%;
    }

    .icont-left-cut{
      width: 3%;
    }

    .time{
      font-size: 0.8rem;
    }
  
  /* Right */

    .icon-right-wrapper{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 50%;
    }

    .icont-right-cut{
      width: 3%;
    }

/******************************* Displayed Result *******************************/

  .result-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 77%;
    height: 30%;
    color: white;
    font-size: 5rem;
  }
  .more-number{
    font-size: 4rem !important;
  }

/******************************* Button *******************************/

  .button-wrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 60%;
  }

  .button-container{
    display: flex;
    justify-content: space-between;
    height: 19%;
  }
  .button-container button{
    width: 23%;
    height: 75%;
    border-radius: 50%;
    border: 0;
    font-size: 1.7rem;
    background-color: #f69906;
    color: #f5f5f5;
  }
  .black{
    color: #000000 !important;
  }
  .grey{
    background-color: #9f9f9f !important;
  }
  .tainted-grey{
    background-color: #313131 !important;
  }
  .zero{
    width: 50% !important;
    border-radius: 100px  !important;
  }
  .operator{
    transition: 1s;
    background-color: #f5f5f5 !important;
    color: #f69906 !important;
  }
  /* .number-clicked{

  } */

/******************************* Icons Bottom *******************************/
.swipe-bar{
  width: 35%;
  height: 0.8%;
  border-radius: 50px;
  background-color: white;
}